/* Plugin styles */
.carousel-content{
	margin: 0;
	padding: 0;
	position: absolute;
	top: -80px;
	width: 100%;
}
.carousel-content-container{
	height: 320px;
	overflow: hidden;
	position: relative;
}
.carousel-item{
	list-style-type: none;
}
.slide-button{
	margin: 0 auto;
	display: block;
}
.carousel-item div{
	height: 80px;
	width: 100%;
}


/* Page styles */
.text-centre{
	text-align: center;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}