/* Plugin styles */
.carousel-content{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-content-container{
	box-shadow: 0 0 8px 2px #aaa;
	background: #aaa;
	overflow: hidden;
	position: relative;
}
.carousel-item{
	list-style-type: none;
	box-sizing: border-box;
	padding: 5px;
}
.carousel-item div{
	height: 100%;
	width: 100%;
}
.slide-button{
	margin: 0 auto;
	font-size: 40px;
	cursor: pointer;
}


/* Page styles */
.text-centre{
	text-align: center;
}
body{
	background-color: #eee;
}
/*.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}*/
.carousel-item:nth-child(5n+1) div{
	background-color: #364C59;
}
.carousel-item:nth-child(5n+2) div{
	background-color: #657D8C;
}
.carousel-item:nth-child(5n+3) div{
	background-color: #94A6A4;
}
.carousel-item:nth-child(5n+4) div{
	background-color: #A6998A;
}
.carousel-item:nth-child(5n+5) div{
	background-color: #011526;
}
.margin-bottom{
	margin-bottom: 20px;
}
.navbar{
	margin-bottom: 0;
}