/* Plugin styles */
.carousel-content{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-content-container{
	height: 320px;
	overflow: hidden;
	position: relative;
}
.carousel-item{
	list-style-type: none;
}
.slide-button{
	margin: 0 auto;
	font-size: 40px;
	cursor: pointer;
}
.carousel-item div{
	height: 100%;
	width: 100%;
}


/* Page styles */
.text-centre{
	text-align: center;
}
/*.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}*/
.carousel-item:nth-child(5n+1){
	background-color: #364C59;
}
.carousel-item:nth-child(5n+2){
	background-color: #657D8C;
}
.carousel-item:nth-child(5n+3){
	background-color: #94A6A4;
}
.carousel-item:nth-child(5n+4){
	background-color: #A6998A;
}
.carousel-item:nth-child(5n+5){
	background-color: #011526;
}
.margin-bottom{
	margin-bottom: 20px;
}
.navbar{
	margin-bottom: 0;
}